<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bookers", root_path, id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">
          <span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li><a href="/about">
          <span class="glyphicon glyphicon-link"></span> About</a>
        </li>
        <li><a href="/users/sign_up">
          <span class="glyphicon glyphicon-edit"></span> Sign Up</a>
        </li>
        <li><a href="/users/sign_in">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
