<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bookers", root_path, id:"logo" %>
    <% if user_signed_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/#{user.id}">
            <span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li><a href="/users">
            <span class="glyphicon glyphicon-user"></span> Users</a>
          </li>
          <li><a href="">
            <span class="glyphicon glyphicon-book"></span> Books</a>
          </li>
          <li><a href="/users/sign_out" data-method="delete">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        </ul>
    <% else %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">
            <span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li><a href="/about">
            <span class="glyphicon glyphicon-link"></span> About</a>
          </li>
          <li><a href="/users/sign_up">
            <span class="glyphicon glyphicon-edit"></span> Sign Up</a>
          </li>
          <li><a href="/users/sign_in">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
